<template lang="pug">
.details
    .details__title Details
    .details__wrapper
        .details__item(v-for="(detail, index) in detailsList")
            img.details__icon(:src="`assets/icons/${detail.iconName}`")
            p.details__name {{ detail.name }}
            p.details__value {{ detail.value }}
                span.details__unit(v-if="detail.unit") [{{ detail.unit }}]
</template>

<script>
export default {
  computed: {
    weather() {
      return this.$store.state.weather.data;
    },
    detailsList() {
      return [
        {
          name: 'pressure',
          iconName: 'ico__atmospheric-pressure.png',
          value: this.weather.main.pressure,
          unit: 'hPa',
        },
        {
          name: 'humidity',
          iconName: 'ico__humidity.png',
          value: this.weather.main.humidity,
          unit: '%',
        },
        {
          name: 'wind speed',
          iconName: 'ico__wind.png',
          value: this.weather.wind.speed,
          unit: 'meter/sec',
        },
        {
          name: 'wind direction',
          iconName: 'ico__wind.png',
          value: this.weather.wind.deg,
          unit: 'degrees',
        },
        {
          name: 'sunrise',
          iconName: 'ico__sunrise.png',
          value: new Date(this.weather.sys.sunrise * 1000).toLocaleTimeString(),
        },
        {
          name: 'sunset',
          iconName: 'ico__sunset.png',
          value: new Date(this.weather.sys.sunset * 1000).toLocaleTimeString(),
        },
        {
          name: 'clouds',
          iconName: 'ico__clouds.png',
          value: this.weather.clouds.all,
          unit: '%',
        },
        {
          name: 'visibility',
          iconName: 'ico__eye.png',
          value: this.weather.visibility,
          unit: 'meters',
        },
      ];
    },
  },
};
</script>

<style lang="scss" scoped>
.details {
  margin-top: 40px;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
  }
  &__title {
    opacity: 0.8;
    overflow: hidden;
    &:after {
      content: '';
      position: relative;
      top: -4px;
      left: 5px;
      display: inline-block;
      width: 100%;
      height: 100%;
      margin-right: -100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.33);
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 7px;
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.33);
    padding: 15px 10px;
    text-align: center;
    border-radius: 10px;
    transition: background 0.3s ease;
    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }
  &__icon {
    width: 30px;
    height: 30px;
  }
  &__name {
    margin: 4px 0;
    font-size: 14px;
    &:first-letter {
      text-transform: uppercase;
    }
  }
  &__value {
    font-weight: 400;
  }
  &__unit {
    margin-left: 4px;
    font-weight: 300;
    font-size: 12px;
  }
}
</style>
