<template lang="pug">
.weather(v-if="weather.name")
  .weather__wrapper
    img.weather__icon(:src="`http://openweathermap.org/img/wn/${weather.weather[0].icon}@2x.png`")
    .weather__main {{ weather.weather[0].main }}
  .weather__description {{ weather.weather[0].description }}

  .temp
    .temp__main {{ Math.round(weather.main.temp) }}°
    .temp__details
      .temp__small min:
        span.temp__small--strong {{ weather.main.temp_min | temperatureFormat(units) }}
      .temp__small max:
        span.temp__small--strong {{ weather.main.temp_max | temperatureFormat(units) }}

  WeatherDetails

</template>

<script>
export default {
  components: {
    WeatherDetails: () => import('./Details'),
  },
  computed: {
    weather() {
      return this.$store.state.weather.data;
    },
    units() {
      return this.$store.state.weather.units;
    },
  },
  filters: {
    temperatureFormat: (value, units) => {
      if (!value) return '';
      let result = Math.round(value);
      switch (units) {
        case 'metric':
          result += '°C';
          break;
        case 'imperial':
          result += '°F';
          break;
        default:
          break;
      }
      return result;
    },
  },
};
</script>

<style lang="scss" scoped>
.weather {
  margin-top: 20px;
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__main {
    font-size: 36px;
  }
  &__description {
    font-size: 24px;
    margin-left: 25px;
    &:first-letter {
      text-transform: uppercase;
    }
  }
}
.temp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  &__main {
    font-size: 92px;
  }
  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__small {
    text-align: center;
    &:first-of-type {
      margin-bottom: 10px;
      position: relative;
      &:after {
        content: '';
        height: 1px;
        width: 100%;
        display: block;
        background-color: rgba(255, 255, 255, 0.33);
        position: relative;
        top: 6px;
      }
    }
    &--strong {
      font-weight: 400;
      font-size: 22px;
      margin-left: 5px;
    }
  }
}
</style>
