<template lang="pug">
.home
  Loader(v-if="$store.state.weather.isLoading")
  SearchByName
  Geolocalization
  AppHeader
  ErrorMessage
  WeatherData
</template>

<script>
export default {
  name: 'home',
  components: {
    Loader: () => import('../components/Loader'),
    Geolocalization: () => import('../components/Geolocalization'),
    AppHeader: () => import('../components/AppHeader'),
    SearchByName: () => import('../components/SearchByName'),
    ErrorMessage: () => import('../components/ErrorMessage'),
    WeatherData: () => import('../components/WeatherData/index'),
  },
};
</script>

<style lang="scss" scoped>
.home {
  padding-top: 20px;
}
</style>
