html {
  min-height: 100%;
  height: auto;
}

body {
  min-height: 100%;
  background-image: linear-gradient(
    to bottom,
    $color--blue-zodiac,
    $color--trendy-pink
  );
  * {
    box-sizing: border-box;
  }
}
