body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  * {
    color: $color--white;
  }
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: $color--white;
  opacity: 0.5;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $color--white;
  opacity: 0.5;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $color--white;
  opacity: 0.5;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $color--white;
  opacity: 0.5;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $color--white;
  opacity: 0.5;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: $color--white;
  opacity: 0.5;
}
input {
  font-family: 'Lato', sans-serif;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.66);
  transition: border-bottom 0.3s ease;
  padding-bottom: 5px;
  font-size: 24px;
  font-weight: 300;
  &:focus,
  &:active {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
  }
}
