// Colors variables created with: http://chir.ag/projects/name-that-color

$color--black: #000000;
$color--white: #ffffff;
$color--blue-zodiac: #122159;
$color--trendy-pink: #9762a2;
$color--red: #fa000e;
