<template lang="pug">
header.header
    h1.header__city(v-if="city") {{ city }} ({{ countryCode }})
    p(v-if="dataCalculationTime") {{ dataCalculationTime }}

</template>

<script>
import { mapState } from 'vuex';

export default {
  computed: {
    ...mapState({
      city: state => state.weather.data.name,
      countryCode: state => (state.weather.data.sys ? state.weather.data.sys.country : ''),
    }),
    dataCalculationTime() {
      return this.$store.getters['weather/getWeatherCalculationTime'];
    },
  },
};
</script>

<style lang="scss" scoped>
.header {
  text-align: center;
  &__city {
    font-size: 36px;
    margin-bottom: 15px;
  }
}
</style>
