<template lang="pug">
    .error-message {{ $store.state.weather.responseErrorMessage }}
</template>

<style lang="scss" scoped>
.error-message {
  text-align: center;
  color: red;
  text-transform: uppercase;
}
</style>
