<template lang="pug">
.geolocalization
  button.geolocalization__btn(@click="getLocation")
    img(src="assets/icons/ico__location.png")
  p.geolocalization__error-message(v-if="errorMsg") {{ errorMsg }}
</template>

<script>
export default {
  data() {
    return {
      errorMsg: '',
    };
  },
  mounted() {
    this.getLocation();
  },
  methods: {
    getLocation() {
      if (navigator.geolocation) {
        this.$store.commit('weather/setLoadingState', true);
        navigator.geolocation.getCurrentPosition(
          this.getWeatherByCoords,
          this.handleGeolocationErrors,
          { timeout: 10000 },
        );
      } else {
        this.errorMsg = 'Geolocation is not supported by this browser.';
      }
    },
    getWeatherByCoords(position) {
      const coords = {
        lat: position.coords.latitude,
        lon: position.coords.longitude,
      };
      this.$store.dispatch('weather/getCurrentWeather', coords);
    },
    handleGeolocationErrors(error) {
      this.$store.commit('weather/setLodaingState', false);
      this.errorMsg = error.message;
    },
  },
};
</script>

<style lang="scss" scoped>
.geolocalization {
  margin: 25px auto;
  &__btn {
    display: block;
    margin: 0 auto;
    padding: 0;
    opacity: 0.9;
    transition: opacity 0.3s ease;
    img {
      width: 40px;
    }
    &:active {
      opacity: 0.7;
    }
  }
  &__error-message {
    text-align: center;
    color: red;
  }
}
</style>
