<template lang="pug">
div
  form(@submit.prevent="getWeatherByCityName")
    input(type="text", placeholder="City name", v-model="cityName")
    button.btn(type="submit")
      img(src="assets/icons/ico__search.png")
</template>
<script>
export default {
  data() {
    return {
      cityName: '',
    };
  },
  methods: {
    getWeatherByCityName() {
      if (this.cityName) {
        this.$store.dispatch('weather/getCurrentWeather', { q: this.cityName });
        this.cityName = '';
      }
    },
  },
};
</script>

<style lang="scss" scoped>
form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px 0;
}
.btn {
  margin-left: 25px;
  img {
    display: block;
    opacity: 0.9;
    width: 40px;
  }
}
</style>
